<%= $game.player1.name %> vs <%= $game.player2.name  %><br>
<%= $game.player2.name  %>'s hitpoints: <%= $game.player2.hp %>/<%= Player::DEFAULT_HP %><br>

<%= $game.turn.name %>'s turn<br>

<%= @attack_message %>

<form action="/attack" method="post">
  <input type="submit" value="ATTACK!">
</form>
